
.contactanosConten{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding:30px;
    background-color: #f8c415;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); 
    margin-bottom: 50px;
}
.contactanosConten h1{
    text-align: center;
}

.contactoPrimera{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.contactoPrimera div{
    margin: 5px;
}
.contactoTercera{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.contactoTercera div{
    margin: 5px;
}
.contactoQuinta{
    display: flex;

}
.contactoQuinta button{
    margin-left: auto;
    margin-right: auto;
}

body{
background-color: #020042;
}
.btn-contacto{

background-color: #020042;
border-radius: 5px;
border: 0px none ;
padding: 10px 15px 10px 15px;
box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.7);
color: #f8c415;
font-family: 'Poetsen One';
bottom: 20px;
}
.btn-contacto:hover{
color:#020042;
background-color: #f8c415;
transform: scale(1.1);
transition: transform 0.1s ease;
}
body{
font-family: 'Poetsen One';
color: #020042;
}

@media only screen and (max-width: 360px){

}
@media only screen and (max-width: 490px) {
    .contactoPrimera{
        display: grid;
        grid-template-columns: 1fr;
    
    }
      
}
@media only screen and (min-width: 491px) and (max-width: 664px) {

}

@media only screen and (min-width: 665px) and (max-width: 839px) {

}

@media only screen and (min-width: 840px) and (max-width: 972px) {

}
@media only screen and (min-width: 973px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1201px) {
}