
footer{
    background-color: brown;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 5fr 35px;
    width: 85%;
    background-color: #f8c415;
    color: #020042;
    gap: 15px;
}
.ubicacion{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
.ubicacion .ubi-text{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    img{
        width: 35px;
        height: 35px;
    }

}
.footer2{
    grid-template-columns: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 15px 15px 0px;
    
    h2{
        text-align: center;
        font-size: large;
        
    }
    li{
        padding-bottom: 5px;
        font-size: small;
        text-align:start;

    }
    .rrss{
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }


}
.footer-contacto-ul li{
    display: flex;
    list-style-type: none;
    font-size: small;

    align-items: center;
    margin-right: auto;
    img{
        margin-right: 5px;
    }
    
}
.footer3{
    grid-column: 1/3 span;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    background-color: #f8c415;

    border-top:5px  dashed #020042;
    



}
.icon{
    width: 30px;
    height: 30px;
}
.icong{
    width: 50px;
    height: 50px;
}