.contenedor-contenedores-profesores {

    display: flex;
    justify-content: center;
}

.contenedordeContenedordeCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinea los elementos al principio de la fila */
    gap: 25px;
    margin-top: 25px;
    width: 100%; /* Puedes ajustar este ancho según sea necesario */
    max-width: 1200px; /* Ajusta el ancho máximo para centrar el contenido */
}

.primeras-card-img{
    width: auto;    
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}
.primeras-card-img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
.primeras-card-img .perfil-profesor{
    border-radius: 100%;

    width: 140px;
    height: 140px;

}
.contenedor-profesor-card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-color: #f8c415;
    border-radius: 30px;
    width: 300px;

}
.primeras-card-profesor{
    text-align: center;
    color: #020042;
}
.primeras-card-profesor{
    h2{
        font-size: medium;
    }
    h4{
        font-size: small;
    }
    h3{
        font-size: small; 
    }
    p{
        font-size: small; 

    }

}
.primeras-card-img{
    width: auto;    
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    padding: 15px;
}
.primeras-card-img:hover{
    transform: scale(1.4);
    transition: transform 0.3s;
}
.primeras-card-img .perfil-profesor{
    border-radius: 100%;

    width: 160px;
    height: 160px;

}









@media only screen and (max-width: 360px){

}
@media only screen and (max-width: 490px) {
    .contenedor-profesor-card{
        padding: 15px;
        width: 90%;
    
    }
      
}
@media only screen and (min-width: 491px) and (max-width: 664px) {

}

@media only screen and (min-width: 665px) and (max-width: 839px) {

}

@media only screen and (min-width: 840px) and (max-width: 972px) {

}
@media only screen and (min-width: 973px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {


}




