
.zone-card-curso{
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    gap: 1.5vw;
    width: 100%;


}
.contenedor-card-curso{

}
.card-curso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color:#f8c415;
    color: #020042;
    padding: 15px;
    border-radius: 20px;
    height: 320px;
    text-align: center;
    img{
        width: 100px;
    }
    h2{
        font-size: x-large;
    }

}
.card-curso:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.btn-entrar{

    background-color: #020042;
    border-radius: 5px;
    border: 0px none ;
    padding: 10px 15px 10px 15px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 20px;

}
.btn-entrar:hover{
   color: #f8c415;
   border: 1px solid white;
}

/* zona de interior de cursos */



.contenedor-cursos-ind{
    margin-top: 2%;
    background-color: #f8c415;
    width: 100%;
    height: 80%;
    text-align: center;
    color: #020042;
    border-radius: 25px;
    h1{
        margin-top: 5%;
        font-size: xxx-large;
    }
    h2{
        margin-left: 50px;
        text-align: start;
        font-size: xx-large;
    }
    h2:hover{
        font-size: xx-large;
        color: red;

    }
}
.cursos-ind{

    width: 80%;
    text-align: start;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
.contenedor{
    background-color: #f7d568;
    height: 250px;
    padding: 15px;
    text-align: center;
    h6{
        text-align: center;
    }
    a{
        margin-left: auto;
    }
    a:hover {
        color: red;
    }
}
.h3asignatura{
    font-size: xx-large;
    text-align: center;
}
.enlacecurso{

    margin-left: auto;
}
.enlacecurso:hover{

    color: rgb(255, 0, 0);
}

#listaAsignaturas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding-left: 0; /* Restablecer el padding izquierdo */
    list-style-type: none; /* Eliminar los estilos de la lista */
    margin-left: auto;
}

#listaAsignaturas li {
    text-align: center;
    padding: 28px 18px 28px 18px;
    font-size: medium;
    background-color: #f7d568;

    align-self: center; /* Esto alinea verticalmente el contenido dentro del elemento de la cuadrícula */
}

#listaAsignaturas li:hover{
    color: #f7d568;
    background-color: #020042;


}
#listaAsignaturas li:hover + .contenedor-cursos-ind{
    color: #f7d568;
    background-color: #020042;
    height: 150vh;    
}

.datos-profe{
    width: 85%;
    margin-left: auto;
    margin-right: auto;

}

@media only screen and (max-width: 360px){

}
@media only screen and (max-width: 490px) {

    .zone-card-curso{
        margin-top: 4%;
        margin-bottom: 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10,1fr);
        margin-left: auto;
        margin-right: auto;
        gap: 5vw;
        width: 100%;
    
    
    }
    .card-curso{
        display: flex;
        flex-direction: column;
        align-items:;
        justify-content: center;
        position: relative;
        
        background-color:#f8c415;
        color: #020042;
        padding: 15px;
        border-radius: 20px;
        height: 290px;
        text-align: center;
        img{
            width: 100px;
            margin-bottom: 10px;
            margin-top: -55px;
        }
        h2{
            font-size: x-large;
        }
    
    }
    .card-curso:hover {
        transform: scale(1);
        transition: transform 0.3s ease;
    }
    .card-curso img{
        
    }
    .card-curso:hover {
        img{
            transform: scale(1.2);
            transition: transform 0.3s ease;
        }
    }
    .cursos-ind{

        width: 100%;
        text-align: start;
        font-size: xx-large;
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
    }
    
#listaAsignaturas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding-left: 0; /* Restablecer el padding izquierdo */
    list-style-type: none; /* Eliminar los estilos de la lista */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#listaAsignaturas li {


    font-size: medium;
    background-color: #f7d568;
    height:90%;
    width: 90%;
    margin: auto;
    padding: auto;



}

#listaAsignaturas li:hover{
    color: #f7d568;
    background-color: #020042;


}
#listaAsignaturas li:hover + .contenedor-cursos-ind{
    color: #f7d568;
    background-color: #020042;
    height: 150vh;    
}
.datos-profe{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    h2{
        a{
            color: #020042;
            font-size: large;
        }

    }


}
.contenedor{
    background-color: #f7d568;
    height: 250px;
    padding: 15px;
    text-align: center;
    h6{
        text-align: center;
    }
    a{
        margin-left: auto;
        color: #020042;
    }
    a:hover {
        color: red;
    }
    
}
.contenedor-cursos-ind{
    h1{
        font-size: x-large;
    }
}
      
}
@media only screen and (min-width: 491px) and (max-width: 664px) {

}

@media only screen and (min-width: 665px) and (max-width: 839px) {

}

@media only screen and (min-width: 840px) and (max-width: 972px) {

}
@media only screen and (min-width: 973px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1201px) {

}